#letter-column {
    background-color: silver;
}
#number-column {
    background-color: silver;
}

.square {
    height: 40px;
    width: 40px;
    background-color: dodgerblue;
    margin: 1px;
    border: 1px;
    border-color: black;
    text-align: center;
}



/* .col-sm {
    width: 100px;
} */

.btn .btn-secondary {
    color: rgb(48, 29, 218);
}

#draggable1 {
    background-color: black;
    opacity: .5;
}

#draggable2 {
    background-color: blue;
    opacity: .5;
}
#draggable3 {
    background-color: red;
    opacity: .5;
}
#draggable4 {
    background-color: green;
    opacity: .5;
}
#draggable5 {
    background-color: violet;
    opacity: .5;+
}


